@import '~rsuite/dist/styles/rsuite-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.rs-tooltip .rs-tooltip-inner {
  padding: unset;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

.rs-form-vertical .rs-form-group .rs-form-control-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 10px;
}

.rs-drawer-body {
  margin-bottom: 0px;
  margin-top: 10px;
}
